* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

body.bulbasaur {
  background-color: honeydew;
}

body.charmander {
  background-color: peachpuff;
}

body.squirtle {
  background-color: aliceblue;
}

.title {
  position: absolute;
  bottom: 0;
  left: 2rem;
}

.title.bulbasaur {
  color: forestgreen;
}

.title.charmander {
  color: brown;
}

.title.squirtle {
  color: #155a7a;
}

.title h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1rem;
  padding: .6rem;
  text-transform: uppercase;
}

.title p {
  font-size: 12rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.evolutions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 70%;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.pokemon:hover {
  box-shadow: 0 0 12px 4px rgba(50, 50, 50, .3);
}

.pokemon.main {
  height: 400px;
}

.pokemon.bulbasaur {
  background-color: honeydew;
  background-image: url(https://res.cloudinary.com/otaner/image/upload/v1637376241/pokemon/types/grass.png);
  border: 8px solid mediumseagreen;
}

.pokemon.charmander {
  background-image: url(https://res.cloudinary.com/otaner/image/upload/v1637376241/pokemon/types/fire.png);
  border: 8px solid orangered;
}

.pokemon.squirtle {
  background-image: url(https://res.cloudinary.com/otaner/image/upload/v1637376241/pokemon/types/water.png);
  border: 8px solid #259AD0;
}

.number {
  position: absolute;
  top: -8%;
  left: -8%;
  transform: rotate(-45deg);
  font-weight: bold;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulbasaur .number {
  background-color: forestgreen;
  border: 4px solid mediumseagreen;
  color: honeydew;
}

.charmander .number {
  background-color: brown;
  border: 4px solid orangered;
  color: peachpuff;
}

.squirtle .number {
  background-color: #155a7a;
  border: 4px solid #259AD0;
  color: aliceblue;
}

.type {
  position: absolute;
  top: 2%;
  right: 2%; 
}

.image {
  width: 50%;
  transition: all 0.4s ease-in-out;
}

.main .image {
  width: 85%;
}

.image img {
  width: 100%;
}

.data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  padding: 5px 10px;
  border-radius: 10px;
}

.main .name {
  font-size: 1.5rem;
}

.bulbasaur .name {
  background-color: honeydew;
  color: forestgreen;
}

.charmander .name {
  background-color: peachpuff;
  color: brown;
}

.squirtle .name {
  background-color: aliceblue;
  color: #155a7a;
}

.catch {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.bulbasaur .catch {
  background-color: forestgreen;
  color: honeydew;
}

.bulbasaur .catch:hover {
  background-color: mediumseagreen;
}

.charmander .catch {
  background-color: brown;
  color: peachpuff;
}

.charmander .catch:hover {
  background-color: orangered;
}

.squirtle .catch {
  background-color: #155a7a;
  color: aliceblue;
}

.squirtle .catch:hover {
  background-color: #259AD0;
}
